body, html {
    margin: 0;
    font-family: sans-serif;
}

.content {
    margin: 0 auto;
    width: 400px;
}

table, td, th {
    border: 1px solid #dddddd;
}

table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

td,th {
    height: 30px;
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

td {
    text-align: center;
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

.form {
    margin-top: 0px;
}


.input {
    margin-left: 40px;
    padding-right: 40px;
    
}

#content {
    width: 100%;
}

textarea {
	width: 600px;
	height: 120px;
	border: 3px solid #cccccc;
	
	text-align: left;
}