{% extends 'base.html' %}

{% block head %}
<title>Task Master</title>
{% endblock %}

{% block body %}
<div class="content">
    <h1 style="text-align: center">Oracle Query</h1>
    
    <h4 style="text-align: center">Finds common variants that occur in 1% or 2% of accessions and expected variants that occur in 95% accessions
    having at least $minVariants variants uploaded in between $start dates and $end dates.</h4>
    

    <div class="form">
        <form action="/" method="POST">
            minAltAllelePercent <input type="text" name="minAltAllelePercent" id="minAltAllelePercent" placeholder = "float type" >
            <br><br>minVariants <input type="text" name="minVariants" id="minVariants" placeholder = "int type">
            <br><br>start_date <input type="text" name="start_date" id="start_date" placeholder = "DD/MM/YYYY">
            <br><br>end_date <input type="text" name="end_date" id="end_date" placeholder = "DD/MM/YYYY">
            
            <br><br><input type="submit" name="submit_button" >
            
        </form>
    </div>
</div>
{% endblock %}